@media screen and (max-width: 400px) {
  #liensUtiles {
    padding: 20px;
    width: 111%;
  }
  #aPropos,
  #actualites,
  #avis,
  #equipe,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
